<ion-header 
>
<!-- class="ion-no-border" -->
  <ion-toolbar>
    <ion-title>
      Zapatillas TJ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <p class="ion-padding-horizontal">Resultados > Todo
      <span class="ion-float-right">estilo(s): {{products?.length||0}}</span>
    </p>
    <ion-row>
      <ion-col *ngFor="let product of products" size="6" size-md="4" size-lg="2"  class="ion-padding">
        <ion-img class="ion-padding" style="height:200px" src="{{product?.photoURL || 'https://p1.hiclipart.com/preview/625/880/850/shoe-footwear-sandal-walking-line-silhouette-high-heels-blackandwhite-png-clipart.jpg'}}"></ion-img>
        <ion-note style="font-weight: 700;">MXN{{product?.price || "..."}}</ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
